<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
{% if error %}
{{ error }}
{% endif %}
<h2>Форма ввода</h2>
    <form action="enter" method="post">
        <p>
            Email:<br>
            <input name="email" />
        </p>
        <p>
            Password:<br>
            <input name="password" type="password"/>
        </p>
        <input type="submit" value="Войти" />
    </form>
    Еще нет аккаунта? <a href="/registration_page">Зарегистрируйтесь</a>
</body>
</html>