<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/gijgo.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/flaticon.css">
    <link rel="stylesheet" href="static/css/slicknav.css">
    <link rel="stylesheet" href="static/css/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function clearCookies() {
            var allCookies = document.cookie.split(';');
            for (var i = 0; i < allCookies.length; i++) {
                document.cookie = allCookies[i] + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            }
            window.location.reload();
        }
        function homePage() {
            window.location.replace('/');
        }
    </script>
</head>
<body>
    <h2 style="text-align: center;">Хорошего рабочего дня, {{ email }}!
    <button onclick="clearCookies()">Выйти</button></h2>
<!--    <button onclick="homePage()">На главную</button>-->
    <h1>Заказы</h1>
    {% for order in orders %}
    <h3>Заказ #{{ order.id }} на сумму {{ order.total_price }}</h3>
    {% for title, number in order.ordered_items.items() %}
    <h4>{{ title }} -> {{ number }}</h4>
    {% endfor %}
    <a href="/inactive_order?id={{order.id}}" style="display: inline-block; padding: 7px; background: lightgrey; color: green; margin-left: 10px;
border-radius: 10px;"> Заказ оплачен</a>
    {% else %}
    <h3>Заказов пока не было</h3>
    {% endfor %}
</body>
</html>